body {
  background-color: #F8EDEB;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

p {
  font-family: 'Piazzolla', serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

p a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
p a:hover {
  color: #FFB5A7;
}

h1 {
  text-align: left;
  font-size: 50px;
  font-family: 'Handlee', cursive;
}

h2 {
  font-size: 30px;
  text-align: center;
  font-family: 'Handlee', cursive;
}

h2 a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h2 a:hover {
  color: #FFB5A7;
}

h3 {
  font-size: 25px;
  font-family: 'Piazzolla', serif;
}

h3 a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h3 a:hover {
  color: #F8EDEB;
}

/* navigation */
nav{
  font-family: 'Handlee', cursive;
  font-size: 18px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F8EDEB;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #F9DCC4;
}

/* navigation on mobile*/
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

/* navigation on mobile*/
@media all and (min-width: 960px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: row;
  }
}

/* image & figcaption */
img{
  max-width: 80%;
  border:0;
  margin-top: 20px;
  margin-bottom: 20px;
}

figcaption {
  font-family: 'Piazzolla', serif;
  font-style: italic;
  font-size: 12px;
  color: grey;
}

/* grid */
.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #F8EDEB;
  padding: 10px;
  }
.column {
  text-align: center;
  border: 1px solid white;
  background-color: #facbc3;
}

@media screen and (max-width: 960px) {
  .container {
    display: grid;
  }
}

/* photo gallery */
#myGallery {
  width:500px;
  margin: 0 auto;
}

.imageGallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.imageHolder {
  margin: 20px 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

.imageHolder caption {
  margin: 10px 0;
}

section.img {
  width:100%;
  max-width: 500px;
}

section.body {
  display:flex;
  justify-content: center;
}

.button_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hideThisDiv {
  display: none;
}
